/* Project Detail Section */
#project-detail {
    padding: 60px 20px;
    background: #121212;
    color: #fff;
    text-align: center;
}

#project-detail h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #00eeff;
   margin-top: 100px;
}

#project-detail .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

#project-detail .image-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

#project-detail .image-grid img:hover {
    transform: scale(1.05);
}

#project-detail p {
    font-size: 16px;
    color: #b0b0b0;
    line-height: 1.6;
    max-width: 800px;
    margin: 20px auto;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    #project-detail .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #project-detail h1 {
        font-size: 32px;
    }

    #project-detail p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    #project-detail .image-grid {
        grid-template-columns: 1fr;
    }

    #project-detail h1 {
        font-size: 28px;
    }

    #project-detail p {
        font-size: 14px;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    #project-detail h1 {
        font-size: 24px;
    }

    #project-detail p {
        font-size: 12px;
    }
}
